<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ICB Strategic Partners&trade; | Strategy and Transformation</title>
    <meta name="description" content="ICB STRATEGIC PARTNERS is a firm of professionals; providing cutting edge services in developing strategy to transform businesses. The company founded by Innocent Iyalla Harry, F.IoD, Ksm, Jp, a foremost financial expert, an Evangelist of the social business model, Vice President, Africa SME Roundtable, Past Governing Council Member Institute of Directors was registered with the Corporate Affairs Commission of Nigeria in 3rd April 2019 to render consultancy services.">
    <meta name="author" content="ThankGod Okoro">
    <meta property="og:url" content="https://www.icbsp.com.ng"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="ICB Strategic Partners&trade; | Strategy and Transformation"/>
    <meta name="og:description" content="ICB STRATEGIC PARTNERS is a firm of professionals; providing cutting edge services in developing strategy to transform businesses. The company founded by Innocent Iyalla Harry, F.IoD, Ksm, Jp, a foremost financial expert, an Evangelist of the social business model, Vice President, Africa SME Roundtable, Past Governing Council Member Institute of Directors was registered with the Corporate Affairs Commission of Nigeria in 3rd April 2019 to render consultancy services.">
    <meta name="keywords" content="ICB, Strategic, Strategy Partners,">

    <link rel="shortcut icon" type="image" href="assets/img/logo.png">

	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->